.clearfix
  = image_tag "logo.png", class: 'large-logo'
  %h1
    Strava Beeminder Integration
    %small
      #{link_to "view code on GitHub", "https://github.com/sethherr/strava-beeminder"}

%hr
  
.panel.panel-default
  .panel-heading
    %h4
      Setting up the integration
  .panel-body
    - if @user
      %h4
        Hi #{@user.display_name}!
    - if @user && @user.goal_integrations.present?
      %h4
        You've successfully created a goal and an integration. You can obviously add more, but you're good to go right now.
      %hr
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th
          %th
            Steps to success
          %th
      %tbody
        %tr
          %td
            %input{type: 'checkbox', checked: @user.present?, disabled: true}
          %td
            Sign in with Strava
          %td
            - if @user.present?
              %strong
                (You're signed in).
            - else
              = link_to "Sign in with Strava", user_omniauth_authorize_path(:strava), class: 'navbar-link'
              (link also in the header)
      %tr
        %td
          %input{type: 'checkbox', checked: (@user && @user.beeminder_token.present?), disabled: true}
        %td
          Add 
          - if @user.present?
            
            = link_to "your Beeminder access token", edit_user_url(@user)
          - else
            your Beeminder access token
          %br
          %small
            Strava Beeminder doesn't use Beeminder OAuth, just the token found on Beeminder in
            %a{href: "https://www.beeminder.com/settings/advanced_settings", target: "_blank"}
              <em>your account</em> > <em>advanced settings</em>

        %td
          - if @user && @user.beeminder_token.present?
            Done (You've added your beeminder token).
      %tr
        %td
          %input{type: 'checkbox', checked: (@user && @user.goal_integrations.present?), disabled: true}
        %td
          Add a goal on Beeminder for something you can track in Strava - like "run 5 miles every day"
        %td
          - if @user && @user.goal_integrations.present?
            Done (You have started tracking a goal)
      %tr
        %td
          %input{type: 'checkbox', checked: (@user && @user.goal_integrations.present?), disabled: true}
        %td
          Add a 
          - if @user.present?
            = link_to "goal integration", edit_user_url(@user)
          - else
            goal integration

        %td
          - if @user && @user.goal_integrations.present?
            %strong
              You have a goal integration

- if @user.present?

  - if @user.goal_integrations.present?
    - if @user.goal_integrations.present?
      - @user.goal_integrations.each do |integration|
        = render partial:  "/goal_integrations/integration_display", locals: { goal_integration: integration }
    - else
      = render "user_info" 