= form_for(@goal_integration) do |f|
  - if @goal_integration.errors.any?
    #error_explanation
      %h2
        = pluralize(@goal_integration.errors.count, "error")
        prohibited this goal integration from being saved:
      %ul
        - @goal_integration.errors.full_messages.each do |message|
          %li= message

  .form-group
    - goals = ['Add your Beeminder token!']
    - if current_user.present? && current_user.beeminder_token.present?
      - goals = BeeminderIntegration.new(user: current_user).goal_titles
    %label
      Select Beeminder Goal
    = f.select :goal_title, options_for_select(goals.map{ |a| [a, a]}), {}, class: 'form-control'

  .form-group
    %label
      Select Strava activity to monitor
    = f.select :activity_type, options_for_select(StravaIntegration.activity_types.map{ |a| [a.underscore.humanize, a]}), {}, class: 'form-control'

  .form-group
    %label
      Select unit
    = f.select :unit, options_for_select(StravaActivity.known_units.keys.map{ |a| [a, a]}), {}, class: 'form-control'

  .actions
    = f.submit class: 'btn btn-primary'