%h3
  = goal_integration.goal_title
  %small
    = goal_integration.activity_type
- bee_int = BeeminderIntegration.new({goal_integration: goal_integration})
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        When
      %th
        What
      %th
        Distance
      %th
        link
  %tbody
    - current_user.strava_activities.matching_activity_type(goal_integration.activity_type).each do |activity|
      %tr
        %td
          = l activity.activity_time, format: :detailed
        %td
          = activity.name
        %td
          = bee_int.distance_round(activity.data['distance'])
        %td
          = link_to activity[:id], "https://#{activity[:uri]}"