%h3
  = goal_integration.goal_title
  %small
    = goal_integration.activity_type
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        When
      %th
        What
      %th
        Distance
      %th
        link
  %tbody
    - goal_integration.goal_integration_strava_activities.each do |gisa|
      %tr
        %td
          = l gisa.strava_activity.activity_time, format: :detailed
        %td
          = gisa.strava_activity.name
        %td
          = gisa.distance_for_integration
        %td
          = link_to gisa.strava_activity.url.truncate(100), "https://#{gisa.strava_activity.url}"